<ion-view view-title="Help">
    <ion-content style="background-image: url('img/Blue polygonal background.jpg');background-size: cover;">
       <div class="card" i style="box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);background-color:#E1F5FE;">
    <div class="item item-text-wrap">
    <a menu-close href="#/app/home">
        <h2 style="font-size: 20px; text-align: center; margin-bottom: 5px;"><b>HOME</b></h2></a>
         <h3 style="text-align: center;"> displays the Gas Concentration Level wherein the normal concentration and the limit is also stated below same as the current time and date. </h3>
        </div>
        </div> 
    
       <div class="card" i style="box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);background-color:#E1F5FE;">
    <div class="item item-text-wrap">
      <a menu-close href="#/app/logs">
        <h2 style="font-size: 20px; text-align: center; margin-bottom: 5px;"><b>LOGS</b></h2></a>
         <h3 style="text-align: center;" >  displays the warnings or alerts that have been occured. </h3>
        </div>
        </div>

        <div class="card" i style="box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);background-color:#E1F5FE;">
    <div class="item item-text-wrap">
      <a menu-close href="#/app/codex">
        <h2 style="font-size: 20px; text-align: center; margin-bottom: 5px;"><b>CODEX</b></h2></a>
         <h3 style="text-align: center;" >  collection of related informations about the gases that the MQ2 can recognize. </h3>
        </div>
        </div>

        <div class="card" i style="box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);background-color:#E1F5FE;">
    <div class="item item-text-wrap">
      <a menu-close href="#/app/about">
        <h2 style="font-size: 20px; text-align: center; margin-bottom: 5px;"><b>ABOUT</b></h2></a>
         <h3 style="text-align: center;" > states the use and purpose of this application as well as the names of the developers.</h3>
        </div>
        </div>

        <div class="card" i style="box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);background-color:#E1F5FE;">
    <div class="item item-text-wrap">
      <a menu-close href="#/app/help">
        <h2 style="font-size: 20px; text-align: center; margin-bottom: 5px;"><b>HELP</b></h2></a>
         <h3 style="text-align: center;" >  provides the additional information of the individual pages. </h3>
        </div>
        </div>
    </ion-content>
</ion-view>
