<ion-view title="Propane" id="propane">
  <ion-content padding="true" style="background-image: url('img/Blue polygonal background.jpg');background-size: cover;" class=" manual-remove-top-padding has-header">
    <h1 id="propane-heading20" style="color:#000000;text-align:center;">Propane</h1>
    <h4 id="propane-heading21" style="color:#000000;text-align:center;">( C3H8 )</h4>
    <div id="propane-markdown12" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;font-size:14px;">Propane is a three-carbon alkane, normally a gas, but compressible to a transportable liquid. It is derived from other petroleum products during oil ornatural gas processing. It is commonly used as a fuel for engines, oxy-gas torches, barbecues,
        portable stoves and residential central heating.</p>

      <p style="color:#000000;font-size:14px;">When used as vehicle fuel, it is commonly known as liquefied petroleum gas (LPG or LP-gas), which can be a mixture of propane along with small amounts ofpropylene, butane, and butylene. The odorant ethanethiol is also added so that people can easily
        smell the gas in case of a leak.</p>
    </div>
    <h4 id="propane-heading22" style="color:#000000;text-align:center;">Uses of Propane</h4>
    <div id="propane-markdown13" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Propane is used as fuel in cooking on many barbecues, portable stoves and in motor vehicles. The ubiquitous 4.73-gallon (20 lb.) steel container is oftendubbed a "barbecue tank". Propane remains a popular choice for barbecues and portable stoves
        because its low boiling point of −42 °C (−43.6 °F) makes itvaporize as soon as it is released from its pressurized container. Therefore, no carburetor or other vaporizing device is required; a simple metering nozzlesuffices. Propane powers some
        locomotives, buses, forklifts, taxis and ice resurfacing machines and is used for heat and cooking in recreational vehicles andcampers. In many rural areas of North America, propane is used in furnaces, cooking stoves, water heaters, laundry dryers,
        and other heat-producingappliances. In this application, it is usually stored in a large, permanently-placed cylinder which is recharged by a propane-delivery truck. As of 2000, 6.9million American households use propane as their primary heating
        fuel.</p>

      <p style="color:#000000;">Commercially-available "propane" fuel, or LPG, is not pure. Typically in the USA and Canada, it is primarily propane (at least 90%), with the rest mostlybutane and propylene (5% maximum), plus odorants. This is the HD-5 standard, (Heavy Duty-5%maximum
        allowable propylene content) written for internalcombustion engines. LPG, when extracted from natural gas, does not contain propylene. LPG, when refined from crude oil does contain propylene. Not allproducts labelled "propane" conform to this
        standard. In Mexico, for example, the butane content is much higher.</p>
    </div>
  </ion-content>
</ion-view>